body {
    display: flex;
    flex-direction: column;
    background-color: navy;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    overflow: hidden;
}
.box {
    width: 60px;
    height: 60px;
    padding: 4px;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
}

.box:hover {
    background-color: aqua;
}

h1 {
    color: white;
}

label {
    color: white;
}

